# Ukrywamy plik z tokenem (Najważniejsze!)
.env

# Ukrywamy pliki tymczasowe Pythona (niepotrzebne na GitHubie)
__pycache__/
*.py[cod]
*$py.class

# Foldery środowisk wirtualnych
venv/
env/
.venv/

# Pliki systemowe
.DS_Store
Thumbs.db
